body {
  font-family: 'Courier New', monospace;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;

  &__padding0 {
    padding: 0;
  }
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 0.8;
}

ul {
}
