.cards-existence__item {
  padding: 15px;

  background-color: rgb(199, 255, 177);
  outline: 1px solid teal;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card-existence__link {
  @media screen and (max-width: 480px) {
    font-size: 0.8em;
  }
}
